/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body {
  padding: 30px;
  background-color: #000000;
  display: flex; /* this is the flexbox model. It adds responsive design to its items */
  flex-direction: column; /* this says how the flex items will align (e.g. 'row') */
  align-items: center; /* These next two properties center the flex items */
  justify-content: center;
}

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-width: 53em;
  }
}

#main-title {
  color: #8400ff;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-family: "EB Garamond", serif;
}

.bigLink {
  font-size: 17px;
}

.section {
  border-radius: 25px;
  padding: 20px;
  border: 5px solid;
  margin: 10px;
  max-width: 48em;
  border-color: #8400ff;
}

#courses {
  background-color: #00ffd5;
  font-family: "Marcellus", serif;
}

#pslo {
  background-color: #00ffd5;
  font-family: "Marcellus", serif;
}


#tools {
  background-color: #00ffd5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.local-version-control{
  color: red;
}
.cloud-testing{
  color: red;
}

#ide-tools{
  color: rgb(0, 217, 255);
  font-style: italic;
}

#testing-tools{
  color: rgb(8, 238, 46);
  font-family: sans-serif;
}

#version-control-tools{
  color: rgb(183, 0, 255);
}

#tools > ul {
  display: inline-block;
  font-family: "Marcellus", serif;
  padding: 10px;
}
#tools > li {
  display: inline-block;
  font-family: "Marcellus", serif;
  padding: 10px;
}

#tools-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#faculty {
  background-color: #00ffd5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#faculty > ul > li {
  display: inline-block;
  font-family: sans-serif;
  padding: 30px;
}

#faculty-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                      isn't enough space for all of the items. Without this the
                      faculty images will be in a row and only resize well unitl around
                      550px width of screen. */
  justify-content: center;
  align-content: center;
}

.name {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}

.office {
  font-family: "Marcellus", serif;
}

img.pic {
  width: 100%;
  border: 4px solid #8400ff;
}

#style-selector {
  position: fixed;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  height: 46px;
  padding-top: 10px;
}

#style-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8400ff;
}

#style-selector li {
  float: left; /*explore what happens if this is 'right' instead*/
}

#style-selector li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

/* Change the link background color to #000 (black) on hover */
#style-selector li a:hover {
  background-color: #00ffd5;
}

#validation {
  font-size: 0.8rem;
  background-color: #00ffd5;
  padding: 25px;
  border-color: #8400ff;
}
